<%= form_with(model: listing) do |form| %>
  <% if listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
        <% listing.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%# Add bootstrap class to forms%>
    <%= form.label :title, class: "form-label mr-1" %> 
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="field">
    <%# Add bootstrap class to forms%>
    <%= form.label :description, class: "form-label mr-1" %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="field">
    <%# Add bootstrap class to forms%>
    <%= form.label :price, class: "form-label mr-1" %>
    <%= form.text_field :price, class: "form-control" %>
  </div>

  <div class="field">
    <%# Add bootstrap class to forms%>
    <%= form.label :availability, class: "form-label mr-1" %>
    <%= form.check_box :availability, class: "form-control" %>
  </div>

  <%# Add bootstrap class with margin bottom of 3 %>
  <h5 class=mb-3>Condition</h5>
  <%# Add bootstrap class to make the form inline with margin bottom of 3 %>
  <div class="form-check form-check-line mb-3">
  <%# iterate through conditions %>
    <% @conditions.each do |option| %>
  <%# Add bootstrap class with margin right of 2 %>
      <%= form.radio_button :condition, option, class: "mr-2" %>
  <%# Add bootstrap class with margin right of 3 %>
      <%= form.label :condition, option, class: "form-label mr-3" %>
    <% end%>
  </div>

  <div class="field">
    <%= form.label :category_id %>
    <%# Map through @categories and output an array %>
    <%= form.select :category_id, @categories.map {|category| [category.title, category.id]} %>
  </div>

  <h5>Features</h5>
  <%# Add bootstrap class to make the form inline %>
  <div class="form-check form-check-line">
    <%= form.collection_check_boxes :feature_ids, features, :id, :title do |feature| %>
      <%= feature.label(class: "form-check-label") %>
      <%= feature.check_box(class: "form-check mr-2") %>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
