<nav class="navbar navbar-expand sticky-top navbar-light bg-light">
    <div class="container-fluid">
        <%= link_to "SynthGain", root_path, class: "navbar-brand" %>
        <ul class="navbar-nav">

            <% if user_signed_in? && current_user.user_info %>
                <li class="navbar-item mr-5-lg">
                    <%= link_to "Buy", buyers_path, class: "nav-link" %>
                </li>
                <li class="navbar-item mr-5-lg">
                    <%= link_to "Sell", new_listing_path, class: "nav-link" %>
                </li>
                <li class="navbar-item mr-5-lg">
                    <%= link_to "Profile", users_info_path, class: "nav-link" %>
                </li>
                <li class="navbar-item mr-5-lg">
                    <%= button_to "Sign Out", destroy_user_session_path, method: "delete", class: "nav-link" %>
                </li>

            <% elsif user_signed_in? %>
                <li class="navbar-item mr-5-lg">
                    <%= link_to "Buy", buyers_path, class: "nav-link" %>
                </li>
                <li class="navbar-item mr-5-lg">
                    <%= link_to "Sell", users_info_create_path, class: "nav-link" %>
                </li>
                <li class="navbar-item mr-5-lg">
                    <%= button_to "Sign Out", destroy_user_session_path, method: "delete", class: "nav-link" %>
                </li>
            <% else %>
                <li class="navbar-item mr-5-lg">
                    <%= link_to "Buy", buyers_path, class: "nav-link" %>
                </li>
                <li class="navbar-item mr-5-lg">
                    <%= link_to "Sell", new_user_registration_path, class: "nav-link" %>
                </li>
                <li class="navbar-item mr-5-lg">
                    <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
                </li>

                <li class="navbar-item mr-5-lg">
                    <%= link_to "Sign in", user_session_path, class: "nav-link" %>
                </li>

                <li class="navbar-item mr-5-lg">
                    <%= link_to "About", pages_about_path, class: "nav-link" %>
                </li>

            <% end %>
        </ul>
    </div>
</nav>

