<%= simple_form_for(@user_info, :url => users_info_create_post_path, :method => :post ) do |user_info_form| %>

    <h2><%= user_info_form.label :country, class: "form-label mr-1"  %></h2>
    <p><%= user_info_form.text_field :country, class: "form-control" %></p>

    <h2><%= user_info_form.label :city, class: "form-label mr-1" %></h2>
    <p><%= user_info_form.text_field :city, class: "form-control" %></p>

    <h2><%= user_info_form.label :street %></h2>
    <p><%= user_info_form.text_field :street %></p>

    <h2><%= user_info_form.label :postcode %></h2>
    <p><%= user_info_form.text_field :postcode %></p>

    <%= user_info_form.submit "Submit" %>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
<% end %>